<div class="container">
    <div class="card-holder mt-5">
        <h2> {{pageTitle}}</h2>
        <div class="card-body mt-4">
            <form novalidate [formGroup]="postForm" (ngSubmit)="savePost()">
                <div class="form-group">
                    <label>Album Id:</label>
                    <input class="form-control" id="postAlbumId" type="text" formControlName="albumId">
                </div>
                <div class="form-group">
                    <label>Title: </label>
                    <input class="form-control" id="title" type="text" formControlName="title">
                </div>
                <div class="form-group">
                    <label>Url: </label>
                    <input class="form-control" id="url" type="text" formControlName="url">
                </div>
                <div class="form-group">
                    <label>Thumbnail Url:</label>
                    <input class="form-control" id="postAlbumId" type="text" formControlName="thumbnailUrl">
                </div>
    
                <div class="row mt-4">
                    <div class="col-md-4">
                      <button type="submit" class="btn btn-outline-danger mr-3"
                              style="width:80px"
                             >
                         Save
                      </button>
                      <a class="btn btn-outline-primary m-3"
                              style="width:80px"
                              (click)="onCancel()">
                        Cancel
                    </a>
                    </div>
                  </div>
    
    
    
            </form>
        </div>
    </div>

</div>