.post-holder {
    border-radius: 25px;
    border: 2px solid #616d67;
    padding: 20px;
    background-color: rgb(236, 228, 217);
    text-align: center;
  font-family: 'Times New Roman', serif;

}
.btn-wrapper{
  display: flex;
  text-align: center;
  justify-content: center;
}
img {
  max-width: 100%;
}
.scnd-buttons {
  grid-column-end: auto;
}
#delete {
  margin-left: 33%;
}
#edit {
  margin-left: 33%;
}
#del{
    width: 100%;
}

#edt{
    width: 100%;
}
