<div class="container">
    <div class="post-holder mt-5 col-6 offset-3 p-2 mb-2">
        <div class="back-buttone  p-1 ">
            <a [routerLink]="['/posts']" class="btn btn-outline-success"><span class="bi bi-arrow-return-left"></span>Back To Posts</a>

        </div>
        <div class="card-title p-4">
            <h3> {{post?.title | uppercase}}</h3>
        </div>
        <div class="card-img p-4">
            <img [src]="post?.url">
        </div>

        <div class="row mt-4">
            <div class="col-md-4">
              <button class="btn btn-outline-danger mr-3"
                      style="width:80px"
                     >
                <i class="fa fa-chevron-left"></i> Delete
              </button>
              <a class="btn btn-outline-primary m-3"
                      style="width:80px"
                      (click)="onEdit()">
                Edit
            </a>
            </div>
          </div>

          

    </div>
</div>