.nav-link{
    color:rgb(236, 228, 217);
}
.navbar{
  font-family: 'Times New Roman', serif;
  background-color: rgb(42 59 59);

}
.navbar-brand{
  margin-left: 15px;
  /* color: linear-gradient(90deg, rgba(200,151,84,1) 17%, rgba(156,87,182,1) 86%); */
  background: -webkit-linear-gradient(rgba(200,151,84,1), rgba(156,87,182,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}