/* You can add global styles to this file, and also import other style files */
body {
  background: rgb(200, 151, 84);
  background: linear-gradient(
    90deg,
    rgba(200, 151, 84, 1) 22%,
    rgba(157, 94, 182, 1) 100%
  );
}

.ngx-pagination {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.ngx-pagination li {
  color: rgb(69, 61, 49);
}
.ngx-pagination .current {
  background: rgb(42 59 59) !important;
  border-radius: 10px;
}
