/* You can add global styles to this file, and also import other style files */
body{
  background: rgb(200,151,84);
  background: linear-gradient(90deg, rgba(200,151,84,1) 22%, rgba(157,94,182,1) 100%);
  }

    .ngx-pagination {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }
    /* .ngx-pagination li{
      width: 35px;
      height: 35px;
      border-radius: 50% !important;
      background: #f8f8f8f8;
      display: flex;
      justify-content: center;
      align-items: center;
    } */
  