<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="row">
                    <div class="card-img col-6">
                        <img class="thumbnail" [src]='imageUrl'>
                    </div>
                    <div class="card-content col-6">
                        <h4> {{content}} </h4>
                        <button class="btn btn-outline-danger">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>